<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vessel info</title>
    <!-- Bootstrap5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <!-- My custom style -->
    <link rel="stylesheet" href="{{ url_for('user.static',filename='styles/style.css') }}">
</head>

<body>
    
    <!-- NAV -->
    <nav class="navbar navbar-light navbar-expand-lg fs-5">
      <div class="container-fluid">
          <a class="navbar-brand fs-3 font-righteous text-primary ps-2" href="#">NAVIS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              <li class="nav-item">
                <a class="nav-link active home-link pe-3" aria-current="page" href="{{url_for('home')}}">Home</a>
              </li>
             
              <li class="nav-item dropdown ms-3">
                <a class="nav-link dropdown-toggle text-danger" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Services
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{{url_for('user.register_voyage')}}">Departure registration</a></li>
                  <li><a class="dropdown-item bg-success text-light" href="{{url_for('user.complete_voyage')}}">Complete voyage</a></li>
                  <li><a class="dropdown-item" href="{{url_for('user.show_departures')}}">Departures</a></li>
                  <li><a class="dropdown-item" href="{{url_for('user.search_vessel')}}">Vessel info</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{{url_for('user.show_stats')}}">Stats</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Admin
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{{url_for('admin.register_vessel')}}">Vessel registration</a></li>
                </ul>
              </li>
              
            </ul>
            <form class="d-flex" action="{{ url_for('user.search_vessel') }}" method="post">
              <input class="form-control me-2" name="search_term" type="text" placeholder="Search by name" aria-label="Search by IMO number" value="{{request.form['search_term']}}" required>
              <button class="btn btn-primary" type="submit">Search</button>
            </form>
          </div>
        </div>
  </nav>
  <!-- END OF NAV -->

    <div class="container-fluid px-5 min-height100vh">
      <div class="row align-content-center">

        <!-- Main title -->
        <div class="p-4 mt-5">
          <h1 class="display-3">Departures</h1>
          <!-- <span class="fs-5 text-muted ms-lg-3">Please fill all the fields to complete the vessel registration </span> -->
        </div>
        <!-- END OF Main title -->

        <!-- Main form box -->
        <div class="col box-style p-3 slide-right">
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">IMO</th>
                  <th scope="col">Name</th>
                  <th scope="col">Port of departure</th>
                  <th scope="col">Destination</th>
                  <th scope="col">Passengers</th>
                  <th scope="col">ATD</th>
                  <th scope="col">ETA</th>
                  <th scope="col">ATA</th>
                  <th scope="col">Dangerous cargo</th>
                  <th scope="col">Status</th>
                 
                  <!-- <th></th> -->
                </tr>
              </thead>
              <tbody>
                {% block content %}
                {% for d in data %}
                  <tr>
                    <th scope="row">{{d.id}}</th>
                    <td>{{d.IMO}}</td>
                    <td>{{d.name}}</td>
                    <td>{{d.port_dep}}</td>
                    <td>{{d.port_dest}}</td>
                    <td>{{d.passengers}}</td>
                    <td>{{d.ATD}}</td>
                    <td>{{d.ETA}}</td>
                    <td>{{d.ATA}}</td>
                    <td>{{d.DG}}</td>
                    {% if d.status == 'On route' %}
                    <td class="bg-warning bg-gradient ">{{d.status}}</td>
                    {% endif %}

                    {% if d.status == 'Arrived' %}
                    <td class="bg-success bg-gradient text-light">{{d.status}}</td>
                    {% endif %}

                    {% if d.status == 'Cancelled' %}
                    <td class="bg-danger bg-gradient text-light">{{d.status}}</td>
                    {% endif %}
                    
                    <!-- <td class="d-flex justify-content-around">
                      <a href="./edit/{{d.id}}" class="btn btn-warning min-button-width">Edit</a>
                      
                  
                    </td> -->
                </tr>
                {% endfor %}
                {% endblock %}
               
              </tbody>
            </table>
          </div>
        </div>
        
        

        <!-- END OF Main form box -->
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>